Repository rpserjo/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc & eslint --fix, eslint --fix, stylelint

.lintstagedrc.json:

{
  "*.ts": "tsc & eslint --fix",
  "*.js": "eslint --fix",
  "*.css": "stylelint"
}

Dockerfile
  .dockerignore
  Dockerfile
Due: none

tests
  mochaSetup.js
  src/application/Block.spec.ts
  src/application/HTTPTransport.spec.ts
  src/application/Route.spec.ts
  src/application/Router.spec.ts
  src/application/utils/cloneDeep.spec.ts
  src/application/utils/dateFormatter.spec.ts
Due: tsc & eslint --fix, eslint --fix

fixes
  .lintstagedrc.json
  package-lock.json
  package.json
  src/application/HTTPTransport.ts
  src/application/Router.ts
Due: tsc & eslint --fix

lint-staged
  .lintstagedrc.json
Due: none

husky test
  .husky/pre-commit
  .husky/pre-push
  src/application/EventBus.ts
Due: tsc & eslint --fix

hysky
  .husky/pre-commit
  package.json
Due: none

hysky
  .husky/pre-commit
Due: none

fixes
  src/application/HTTPTransport.spec.ts
  src/application/Router.spec.ts
Due: tsc & eslint --fix

test
  src/application/EventBus.ts
  src/application/Router.spec.ts
Due: tsc & eslint --fix

husky & fixes
  .husky/pre-commit
  .lintstagedrc.json
  src/application/Router.spec.ts
  tsconfig.json
Due: tsc & eslint --fix

123
  .mocharc.js1on
  mochaSetup.js
  package.json
  src/application/Router.spec.ts
  src/components/input/index.spec.ts
  src/components/input/index.ts
  tsconfig.json
Due: tsc & eslint --fix, eslint --fix

123
  .mocharc.json1
  mochaSetup.js
  src/components/input/index.spec.ts
  tsconfig.json
Due: tsc & eslint --fix, eslint --fix

test & fixes
  .mocharc.json
  mochaSetup.js
  package.json
  src/application/Router.spec.ts
  src/components/input/index.spec.ts
  src/components/input/index.ts
  tsconfig.json
Due: tsc & eslint --fix, eslint --fix

improvs
  src/pages/messenger/pages/active-chat/index.ts
  src/pages/messenger/pages/profile/index.ts
  src/pages/messenger/pages/profile/profile.css
  src/pages/messenger/pages/profile/profile.hbs
Due: tsc & eslint --fix, stylelint

improvements
  mochaSetup.js
  src/api/Api.ts
  src/api/ResourceApi.ts
  src/application/HTTPTransport.ts
  src/application/Store.ts
  src/controllers/ChatsController.ts
  src/controllers/MessengerController.ts
  src/interfaces/messenger.d.ts
  src/pages/messenger/components/message/index.ts
  src/pages/messenger/components/message/message.css
  src/pages/messenger/components/message/message.hbs
  src/pages/messenger/components/messages-list/index.ts
  src/pages/messenger/components/messages-list/messages-list.hbs
  src/pages/messenger/pages/active-chat/index.ts
Due: tsc & eslint --fix, eslint --fix, stylelint

tests
  .mocharc.json
  mochaSetup.js
  src/application/HTTPTransport.spec.ts
  src/application/Router.spec.ts
  src/application/utils/cloneDeep.spec.ts
  src/application/utils/cutString.spec.ts
  src/application/utils/dateFormatter.spec.ts
  src/application/utils/escapeString.ts
  src/application/utils/isEqual.spec.ts
  src/components/button/index.spec.ts
  src/components/input/index.spec.ts
Due: tsc & eslint --fix, eslint --fix

fixes & features
  src/application/Router.ts
  src/application/Store.ts
  src/components/drop-down-menu/drop-down-menu.css
  src/controllers/ChatsController.ts
  src/index.css
  src/pages/messenger/components/chats-list/index.ts
  src/pages/messenger/components/media/media.css
  src/pages/messenger/components/media/media.hbs
  src/pages/messenger/components/message/message.css
  src/pages/messenger/components/messages-list/index.ts
  src/pages/messenger/index.ts
  src/pages/messenger/messenger.css
  src/pages/messenger/messenger.hbs
  src/pages/messenger/pages/active-chat/index.ts
Due: tsc & eslint --fix, stylelint

sprint_4
  README.md
  index.html
  package.json
Due: none

Readme
  README.md
Due: none

audit fix
  package-lock.json
Due: none

fix
  src/components/icon/index.ts
  src/pages/messenger/index.ts
Due: tsc & eslint --fix

fix
  src/pages/messenger/messenger.css
Due: stylelint

fix
  package.json
Due: none
